[Unit]
Description=Renew vhf-dev.robertboscacci.com certificate
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/docker run --rm -v /home/rob/vhf-dev-letsencrypt:/etc/letsencrypt -v /home/rob/vhf-dev-letsencrypt-lib:/var/lib/letsencrypt -v /home/rob/vhf-dev-letsencrypt-log:/var/log/letsencrypt -v /home/rob/.aws:/root/.aws:ro certbot/dns-route53 renew --dns-route53 --non-interactive
ExecStartPost=-/usr/bin/docker kill -s HUP vhf-dev-tailnet-proxy
