[Unit]
Description=Daily vhf-dev.robertboscacci.com certificate renewal check

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
