TALKINGBOATS_AWS_REGION=us-west-2
TALKINGBOATS_RAW_BUCKET=
TALKINGBOATS_DURABLE_EVENTS_TABLE=
TALKINGBOATS_DURABLE_EVENTS_ENVIRONMENT=dev
TALKINGBOATS_DURABLE_EVENTS_REQUIRED=false
TALKINGBOATS_INGEST_TOKEN=
TALKINGBOATS_PRIVATE_API=http://private-api:8034
TALKINGBOATS_PROXY_PRIVATE_API_URL=http://private-api:8034
TALKINGBOATS_PROXY_STREAM_URL=http://192.168.1.114:8000/talkingboats-live.mp3
TALKINGBOATS_PROXY_STREAM_URLS=http://192.168.1.114:8000/talkingboats-live.mp3,http://192.168.1.114:8000/talkingboats-14.mp3
TALKINGBOATS_PROXY_CHANNEL_STREAM_URLS=05A=http://192.168.1.114:8000/talkingboats-05a.mp3;06=http://192.168.1.114:8000/talkingboats-06.mp3;09=http://192.168.1.114:8000/talkingboats-09.mp3;13=http://192.168.1.114:8000/talkingboats-13.mp3;14=http://192.168.1.114:8000/talkingboats-live.mp3,http://192.168.1.114:8000/talkingboats-14.mp3;16=http://192.168.1.114:8000/talkingboats-16.mp3;22A=http://192.168.1.114:8000/talkingboats-22a.mp3;67=http://192.168.1.114:8000/talkingboats-67.mp3;68=http://192.168.1.114:8000/talkingboats-68.mp3;69=http://192.168.1.114:8000/talkingboats-69.mp3;71=http://192.168.1.114:8000/talkingboats-71.mp3;72=http://192.168.1.114:8000/talkingboats-72.mp3
TALKINGBOATS_PROXY_AIS_CATCHER_BASE_URL=http://192.168.1.114:8100
TALKINGBOATS_PROXY_RETUNE_SSH_TARGET=192.168.1.114
TALKINGBOATS_PROXY_RESTART_TRANSCRIBER=false
TALKINGBOATS_TRANSCRIBE_STREAM_URL=http://192.168.1.114:8000/talkingboats-live.mp3
TALKINGBOATS_TRANSCRIBE_MODEL=turbo
TALKINGBOATS_TRANSCRIBE_DEVICE=cpu
TALKINGBOATS_TRANSCRIBE_COMPUTE_TYPE=int8
TALKINGBOATS_TRANSCRIBE_BEAM_SIZE=5
TALKINGBOATS_TRANSCRIBE_HOTWORDS=Seattle Traffic, Elliott Bay, VTS, bridge to bridge, roger
TALKINGBOATS_TRANSCRIBE_TRUST_EDGE_PREPROCESSED_AUDIO=true
